<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <?include $(sys.CURRENTDIR)Config.wxi?>
  <Package 
    Codepage="1252" 
    Language="1031" 
    Name="$(var.ProductName)" 
    Version="$(var.ProductVersion)" 
    Manufacturer="$(var.Manufactor)" 
    UpgradeCode="$(var.UpgradeGuid)" 
    InstallerVersion="405">
    <SummaryInformation Description="$(var.SoftwareDescription)" Manufacturer="$(var.Manufactor)" />

    <PropertyRef Id="NETFRAMEWORK45" />
    <Launch Condition="Installed OR NETFRAMEWORK45" Message="This application requires .NET Framework 4.5.1. Please install the .NET Framework then run this installer again." />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Icon Id="SoftTeach.ico" SourceFile="$(var.SolutionDir)SoftTeach\Images\Logo.ico" />

    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="ARPCONTACT" Value="Dr. Adrian Voßkühler" />
    <Property Id="ARPURLINFOABOUT" Value="Software for teachers" />

    <Media Id="1" Cabinet="softTeach.cab" EmbedCab="yes" />

    <Feature Id="DefaultFeature" ConfigurableDirectory="TARGETDIR" Level="1">
      <FeatureRef Id="SoftTeachMainApplicationFeature" />
      <FeatureRef Id="LibsFeature" />
    </Feature>

    <WixVariable Id="WixUIDialogBmp" Value="$(var.SolutionDir)Setup\InstallerBkg.png" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.SolutionDir)Setup\InstallerBanner.png" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.SolutionDir)Setup\License.rtf" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    <ui:WixUI Id="WixUI_InstallDir" />
  </Package>
</Wix>