<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Liduv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <userSettings>
    <Liduv.Properties.Settings>
      <setting name="Schuljahr" serializeAs="String">
        <value />
      </setting>
      <setting name="Halbjahr" serializeAs="String">
        <value />
      </setting>
      <setting name="Fach" serializeAs="String">
        <value />
      </setting>
      <setting name="Jahrgangsstufe" serializeAs="String">
        <value />
      </setting>
      <setting name="Klasse" serializeAs="String">
        <value />
      </setting>
      <setting name="Modul" serializeAs="String">
        <value />
      </setting>
      <setting name="LogfilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="FerienColor" serializeAs="String">
        <value>#FF006400</value>
      </setting>
      <setting name="WeekendColor" serializeAs="String">
        <value>#FF90EE90</value>
      </setting>
      <setting name="Wochenbreite" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="Stundenbreite" serializeAs="String">
        <value>20</value>
      </setting>
    </Liduv.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="LiduvModelContainer" connectionString="metadata=res://*/Model.EntityFramework.LiduvModel.csdl|res://*/Model.EntityFramework.LiduvModel.ssdl|res://*/Model.EntityFramework.LiduvModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=Liduv;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="LiduvEntities" connectionString="metadata=res://*/Model.EntityFramework.LiduvDataModel.csdl|res://*/Model.EntityFramework.LiduvDataModel.ssdl|res://*/Model.EntityFramework.LiduvDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VK\SQLEXPRESS;initial catalog=Liduv;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>