<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SoftTeach.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <SoftTeach.Properties.Settings>
      <setting name="Schuljahr" serializeAs="String">
        <value>2024/2025</value>
      </setting>
      <setting name="Halbjahr" serializeAs="String">
        <value>Winter</value>
      </setting>
      <setting name="Fach" serializeAs="String">
        <value>Physik</value>
      </setting>
      <setting name="Jahrgang" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="Lerngruppe" serializeAs="String">
        <value>7D</value>
      </setting>
      <setting name="Modul" serializeAs="String">
        <value />
      </setting>
      <setting name="LogfilePath" serializeAs="String">
        <value>c:\temp</value>
      </setting>
      <setting name="Wochenbreite" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="Jahrgangsstufe" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="Klasse" serializeAs="String">
        <value>7D</value>
      </setting>
      <setting name="Stundenbreite" serializeAs="String">
        <value>20</value>
      </setting>
    </SoftTeach.Properties.Settings>
  </userSettings>
</configuration>