<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="Ionic.Zip" version="1.9.1.8" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net45" />
  <package id="MahApps.Metro.Resources" version="0.4.0.0" targetFramework="net45" />
  <package id="OxyPlot.Core" version="2015.1.804-alpha" targetFramework="net45" />
  <package id="OxyPlot.Wpf" version="2015.1.804-alpha" targetFramework="net45" />
  <package id="SignedBuild-Hardcodet.NotifyIcon.Wpf" version="1.0.5" targetFramework="net45" />
</packages>